@model EntityFrameworkExtraMile.Web.Models.PostsViewModel[]

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Posts</h2>

<ul>
    @foreach (var post in Model)
    {
        <li><a href="@post.Url">@post.Title</a> - by <a href="http:\\www.twitter.com\@post.AuthorTwitterHandle">@post.AuthorName</a></li>
    }
</ul>